# Cache do Flutter e Dart
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/build/

# Arquivos específicos do Android (Gerados automaticamente)
**/.gradle/
**/android/.gradle/
**/android/app/build/
**/android/local.properties
**/android/generated/

# Configurações da IDE (VS Code e Android Studio)
**/.idea/
**/.vscode/
**/*.iml
**/*.ipr
**/*.iws

# Arquivos do sistema operacional
.DS_Store
Thumbs.db